:root {
    /** Custom colors 
    * ! These are the colors I used in the project
    * ? You can change them to your liking
    */

    --clr-1: 238, 238, 238;
    --clr-2: 0, 173, 181;
    --clr-3: 57, 62, 70;
    --clr-4: 34, 40, 49;

    --font-inter: 'Inter', sans-serif;
    --font-roboto-mono: 'Roboto Mono', monospace;
  }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgba(var(--clr-4), 1);
}

body {
  font-family: var(--font-inter);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: rgb(var(--clr-4));
  overflow-x: hidden;
}

/* body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, rgb(var(--clr-3)) 10%, rgb(var(--clr-4)) 25%);
  background-size: .5rem .5rem;
  opacity: 1;
  pointer-events: none;
} */


a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
