:root {
    /** Custom colors 
    * ! These are the colors I used in the project
    * ? You can change them to your liking
    */

    --clr-1: 238, 238, 238;
    --clr-2: 0, 173, 181;
    --clr-3: 57, 62, 70;
    --clr-4: 34, 40, 49;

    --font-inter: 'Inter', sans-serif;
    --font-roboto-mono: 'Roboto Mono', monospace;
  }


* {
  padding: 0;
  margin: 0;
}

*, :after, :before {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  scroll-snap-type: y mandatory !important;
  scroll-behavior: smooth !important;
}

html {
  scroll-padding-top: 5rem;
}

body {
  background-color: rgb(var(--clr-4));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
