/**  
* ! logo only
* ? .logo .logoFooter
*/

.logo {
    position: fixed;
    top: 1rem;
    left: 1rem;
    animation: logo 2s ease;
}

.logo span {
    color: rgb(var(--clr-1));
    display: inline-block;
    font-size: 3.5em;
    text-decoration: none;
    font-family: var(--font-roboto-mono);
    transition-duration: .25s;
    font-weight: 900;
}

.logo:hover span {
    color: transparent;
    -webkit-text-stroke: 1px rgb(var(--clr-1));
    text-stroke: 1px rgb(var(--clr-1));
}

.logo span::before {
    content: "SAJID-";
    display: inline;
}

.logo span::after {
    content: "IKHLAS";
    display: block;
}

@keyframes logo {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/** 
* ! HeroNav.tsx
*/

.nav {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.nav ul {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    list-style: none;
    padding: 7.5rem 0;
}

.active {
    color: rgba(255, 255, 255, .80);
}

/**
* ! logoFooter
*/

.logoFooter {
    display: inline-block;
    bottom: 1rem;
    left: 1rem;
}

.logoFooter span {
    color: rgb(var(--clr-1));
    font-size: 3.5em;
    font-weight: 900;
    text-decoration: none;
    font-family: var(--font-roboto-mono);
}

.logoFooter span::before {
    content: "SAJID-";
    display: inline;
}

.logoFooter span::after {
    content: "IKHLAS";
    display: block;
}

/**  
* * loading.tsx
*/

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 5em;
    color: rgb(var(--clr-1));
    padding: 0 10rem;
}

.loading span {
    display: inline-block;
    animation: rotate 1s linear infinite;
    transition: ease-in-out 0.3s;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/**  
* * page.tsx
*/

.transition {
    animation: loading-in 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes loading-in {
    0% {
        opacity: 0;
        overflow: hidden;
    }
    50% {
        overflow: visible;
    }
    100% {
        opacity: 1;
    }
}

.main {
    height: 100vh;
    color: rgb(var(--clr-1));
    text-align: center;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.row {
    grid-column: 1 / span 12;
}

.gridCols1 { grid-column: 1 / 12; }
.gridCols2 { grid-column: 2 / 12; }
.gridCols3 { grid-column: 3 / 12; }
.gridCols4 { grid-column: 4 / 12; }
.gridCols5 { grid-column: 5 / 12; }
.gridCols6 { grid-column: 6 / 12; }
.gridCols7 { grid-column: 7 / 12; }
.gridCols8 { grid-column: 8 / 12; }
.gridCols9 { grid-column: 9 / 12; }
.gridCols10 { grid-column: 10 / 12; }
.gridCols11 { grid-column: 11 / 12; }

.Title {
    font-size: 5em;
    font-weight: 900;
    background: linear-gradient(to right, rgb(var(--clr-1)), rgb(var(--clr-2)));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.Sub {
    font-size: 2em;
    font-weight: 500;
    font-style: italic;
    background: linear-gradient(to right, rgba(var(--clr-2)), rgba(var(--clr-2), .75));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/**  
* ! hero section
*/

.hero {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: rgb(var(--clr-1));
    padding: 0 10rem;
}

.hero p {
    font-size: 1.5em;
    font-weight: 200;
    color: rgb(var(--clr-1));
}

/* @keyframes changeContent {
    0% {
        content: "for your BUSINESS";
    }
    33% {
        content: "for your OWN";
    }

    66% {
        content: "for YOU";
    }
    100% {
        content: "for your BUSINESS";
    }
} */

/**  
* ! this is NavLink.tsx component
* * navContainer li, navContainer li > *
*/

.navContainer {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.navContainer ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.navContainer li {
    padding: .5rem;
    text-decoration: none;
    font-size: 1.5rem;
    transform: translateX(100%);
    transition: transform 0.5s ease;
}

.navContainer:hover li {
    transform: translateX(0%);
}

.navContainer li:hover {
    color: rgba(255, 255, 255, .80);
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

/**  
* * end of NavLink.tsx component
*/

/**  
* ! projects section
*/

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    height: 100vh;
    color: rgb(var(--clr-1));
}

.projects ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2.5rem;
    list-style: none;
}

.projects li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .25);
    border-radius: .1rem;
}

.projects li p {
    color: rgb(var(--clr-1));
    margin-top: 1rem;

}

.projects li span {
    color: rgb(var(--clr-1));
    padding: 1rem;
}

.projectsButton {
    display: flex;
    justify-content: center;
    background-color: rgb(var(--clr-2));
    color: rgb(var(--clr-1));
    padding: .5rem 1rem;
    border: none;
    border-radius: .1rem;
    cursor: pointer;
    transition-duration: .25s;

}

/**  
* ! skills section
*/

.skills {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 2.5rem 0;
}

/**
* ! this is SkillsCard.tsx component
* * skillsDev li, skillsDev li > *
* * dev
*/

.skillsDev ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    margin: 1rem 0 2.5rem 0;
}

.skillsDev li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(15, 15, 15);
    border-radius: .1rem;
    border-radius: 1rem;
    height: 10rem;
    width: 10rem;
    padding: 1rem;
    border: rgba(var(--clr-2), .75) solid .1rem;
    transition: background-color 0.3s;
}

.skillsDev li:hover {
    border: rgb(var(--clr-2)) solid .1rem;
    background: rgba(var(--clr-3), .75);
    text-shadow: 0 0 10px #fff;
}

.skillsDev li span {
    color: rgb(var(--clr-1));
    font-size: 4em;
    display: flex;
    margin-bottom: .5rem;
    padding: 0;
    transition: color 0.3s, text-shadow 0.3s;
}

.skillsDev li:nth-child(1):hover span { color: #e34c26; }
.skillsDev li:nth-child(2):hover span { color: #264de4; }
.skillsDev li:nth-child(3):hover span { color: #f0db4f; }
.skillsDev li:nth-child(4):hover span { color: #007acc; }
.skillsDev li:nth-child(5):hover span { color: #61dafb; }
.skillsDev li:nth-child(6):hover span { color: #06B6D4; }
.skillsDev li:nth-child(7):hover span { color: #000; }
.skillsDev li:nth-child(8):hover span { color: #8993be; }
.skillsDev li:nth-child(9):hover span { color: #fb503b; }

.skillsDev li p {
    color: rgb(var(--clr-1));
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
}

/**
* * tool
*/

.skillsTool ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    margin-top: 1rem;
}

.skillsTool li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background: rgb(15, 15, 15);
    border-radius: .1rem;
    border-radius: 1rem;
    width: 18rem;
    padding: 1rem;
    border: rgba(var(--clr-2), .75) solid .1rem;
    transition: background-color 0.3s;
}

.skillsTool li:hover {
    border: rgb(var(--clr-2)) solid .1rem;
    background: rgba(var(--clr-3), .75);
    text-shadow: 0 0 10px #fff;
}

.skillsTool li span {
    display: flex;
    color: rgb(var(--clr-1));
    font-size: 4em;
    margin: 0 .5rem 0 0;
    padding: 0;
    transition: color 0.3s, text-shadow 0.3s;
}

.skillsTool li:nth-child(2):hover span { color: #001E36; background-color: #31A8FF; border-radius: 100%; }
.skillsTool li:nth-child(3):hover span { color: #F1502F; }

.skillsText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.skillsText p:nth-child(1) {
    color: rgb(var(--clr-1));
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
}

.skillsText p:nth-child(2) {
    color: rgb(var(--clr-1));
    font-size: .8em;
    font-weight: 300;
    pointer-events: none;
    text-align: start;
}

/**  
* * end of SkillsCard.tsx component
*/

/**
* ! contacts section
*/

.contacts {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(var(--clr-1));
}

.contactsList {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.contactsList span {
    font-size: 1.5em;
    font-weight: 500;
    padding: 1rem;
    background-color: black;
}

.contactsList span:nth-child(odd)::before {
    content: 'number ';
}

.contactsList span:nth-child(even)::before {
    content: 'email ';
}

/**  
* ! footer only
*/

.contacts footer {
    position: static;
    width: 100vw;
    background-color: rgba(var(--clr-3), .5);
    color: rgb(var(--clr-1));
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1rem;
    bottom: 0;
    margin-top: 5rem;
    padding: 1rem 0;
    list-style: none;
}

.footerNav ul {
    text-transform: capitalize;
    text-align: start;
    font-weight: 500;
}

.footerNav li {
    list-style: none;
    margin: 0 .5rem;
}

.footerSocial {
    text-align: end;
    display: flex;
    flex-direction: column;
}

.footerSocial ul {
    list-style: none;
}

.footerSocial li {
    display: inline-block;
    margin: 0 .5rem;
}
